body{
	background-color: pink;
}

h1{
	display: flex;
	justify-content: center;
	margin: 20px;

}
#device{
	background-color: crimson;
	height:600px;
	width: 500px;
	margin: 5px auto;
	border: 5px solid black;
	border-radius: 90px;
	/*flex-direction: row-reverse;*/
	/*justify-content: flex-end;*/
	/*align-items: flex-start;*/
}
#screen{
	background-color: rgb(225, 227, 237);
	height:400px;
	width: 460px;
	margin: 40px auto 20px auto;

	border: 2px dotted black;
	border-radius: 20px;
	/*flex-direction: row-reverse;*/
	justify-content: flex-end;
	/*align-items: flex-start;*/

}
#buttonPanel{
	display: flex;
	height: 200px;
	width: 360px;
	margin: 10px auto;
	justify-content: space-around;
	padding: 10px;
}
.button{
	display: flex;
	height: 100px;
	width: 100px;
	font-size: 20px;
	border-radius: 20px;
	justify-content: space-around;


}











